:root {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #202124;
    text-decoration: none;
}

p, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#barra-superior {
    display: flex;
    justify-content: flex-end;
    height: 3vh;
    margin-top: 2.7vh;
    align-items: center;    
}

.sup {
    margin-right: 1.5rem;
}

#perfil {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

main {
justify-content: center;
text-align: center;
margin-top: 12.5vh;
}

#logo {
    margin: 2.5rem 0px;
}

#mic {
    position: relative;  
    width: 14.5px;
    height: 20.6px;
    z-index: 1;
    top: 6px;
    right: 35px;
}

#pesquisa {
    grid-column: 1 3;
    border-radius: 30px;
    border: 1px solid rgba(168, 168, 168, 0.54);
    height: 40px;
    width: 36vw;
    min-width: 350px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/54/54481.svg) no-repeat;
    background-size: 15px 15px;
    background-position: 2%;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    color:rgba(0,0,0,.87);
  }

 #pesquisa:hover {
    box-shadow: 0px 1px 2px 2px rgba(226, 225, 225, 0.719);
    transition: 0.2s;
 }

#pesquisa:active {
    border: none;
    outline: none;
}

#pesquisa:focus {
    box-shadow: 0px 1px 2px 2px rgba(226, 225, 225, 0.719);
    transition: 0.2s;
    outline: none;
}


.botao {
padding: 0.8rem 1.3rem;
margin: 2.5rem 5px 0px 5px;
background-color: rgb(248 249 250);
border: 1px solid transparent;
font-size: 14px;
border-radius: 4px;
}

.botao:hover {
    border: 1px solid rgba(218, 213, 213, 0.959);
    cursor: pointer;
}

.botao:active, .botao:focus {
    appearance: none;
    border: none;
    outline: none;
}

#ultimo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(242, 242, 242);
    width: 100vw;
    height: 40px;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    flex-wrap: wrap;
}

.item {
    padding: 0px 10px;   
}
